/* Download Avenir */
@import url('http://fonts.cdnfonts.com/css/avenir-next-cyr');

/* Import Tailwind classes */
@tailwind base;
@tailwind components;
@tailwind utilities;  

/* Make focus ring prettier */
*:focus {
  outline: auto;
}

/* Custom utility classes */
@layer utilities {
  /* Use the background as the text fill */
  .bg-text {
    @apply text-transparent;
    @apply bg-clip-text;
  }

  /* Gradients */
  .pink-blue {
    @apply from-neon-pink;
    @apply to-neon-blue;
  }
  .amber-red {
    @apply from-neon-amber;
    @apply to-neon-red;
  }
  .green-sky {
    @apply from-neon-green;
    @apply to-neon-sky;
  }
  .purple-teal {
    @apply from-neon-purple;
    @apply to-neon-teal;
  }

  /* Responsive colors */
  .bg-extra-strong {
    @apply bg-gray-50;
    @apply dark:bg-gray-900;
  }
  .bg-strong {
    @apply bg-gray-100;
    @apply dark:bg-gray-800;
  }
  .bg-medium {
    @apply bg-gray-300;
    @apply dark:bg-gray-600;
  }
  .bg-light {
    @apply bg-gray-400;
    @apply dark:bg-gray-500;
  }
  .bg-extra-light {
    @apply bg-gray-500;
    @apply dark:bg-gray-400;
  }
  .text-extra-strong {
    @apply text-gray-900;
    @apply dark:text-gray-50;
  }
  .text-strong {
    @apply text-gray-800;
    @apply dark:text-gray-100;
  }
  .text-medium {
    @apply text-gray-700;
    @apply dark:text-gray-300;
  }
  .text-light {
    @apply text-gray-600;
    @apply dark:text-gray-400;
  }
  .text-extra-light {
    @apply text-gray-500;
    @apply dark:text-gray-500;
  }

  /* Text sizing */
  .title-lg {
    @apply text-5xl;
    @apply md:text-7xl;
    @apply text-strong;
  }
  .title-md {
    @apply text-4xl;
    @apply md:text-6xl;
    @apply text-strong;
  }
  .body-lg {
    @apply text-lg;
    @apply md:text-xl;
  }

  /* Rounding */
  .round-rect {
    @apply rounded-lg;
    @apply md:rounded-xl;
  }
  .round-rect-top {
    @apply rounded-t-lg;
    @apply md:rounded-t-xl;
  }

  /* Flex */
  .row {
    @apply flex;
    @apply flex-row;
  }
  .col {
    @apply flex;
    @apply flex-col;
  }
  /* Text colors */
  .text-white {
    color: white;
  }

  .button-send {
    font-family: inherit;
    font-size: 17px;
    background: royalblue;
    color: white;
    padding: 0.5em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .button-send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .button-send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .button-send:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .button-send:hover svg {
    transform: translateX(1.47em) rotate(45deg) scale(1.1);
  }
  
  .button-send:hover span {
    transform: translateX(5em);
  }
  
  .button-send:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  .LinkedinBtn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
   color: white;
  }
  
  .LinkedinPathW{
    fill: rgb(255 255 255 / 1);
  }
  .LinkedinPathB{
    fill: rgb(82 82 91 / 1);
  }
  .LinkedinBtn .LinkedinsvgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(4px);
    letter-spacing: 1px; /* Adjusted letter spacing */
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .LinkedinBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .LinkedinBtn:hover .LinkedinsvgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }
  
  
}
